body {
  font-family: 'Sawarabi Mincho', sans-serif;
}
p {
  margin: 0;
}
.fz-xs {
  font-size: 10px;
}
.fz-s {
  font-size: 13px;
}
.fz-m {
  font-size: 16px;
}
.fz-l {
  font-size: 20px;
}
.caution {
  color: rgb(240, 68, 68);
}
.section-title {
  letter-spacing: 2px;
  text-align: center;
}
.container {
  max-width: 1070px;
  width: 80%;
  margin: 0 auto;
}
.btn {
  border: none;
  color: #fff;
  background-color: rgb(63, 133, 42);
  border-radius: 0;
  &:hover {
    color: #fff;
    opacity: 0.7;
  }
}